* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  // border: magenta dashed 1px;
}

#App {
  background: linear-gradient(120deg, #202040 0%, #16276f 20%, #11377f 40%, #115f9f 100%);
  min-height: 100vh;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container {
  width: 80%;
}

.foreground {
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 4px 0px #201030;
}

.test {
  height: 300px;
  width: 500px;
  background: #ffffff33;
  border: red dashed 3px;
  position: relative;
  z-index: 10;
}

.debug {
  border: magenta dashed 1px;
}

#Navbar {
  width: 100%;
  height: 64px;
  background-color: #dddddddd;
  font-size: 18pt;
  padding: 4px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  
  position: fixed;
  z-index: 2;
  box-shadow: 0px 0px 4px 1px #201030;

  + * {
    padding-top: 64px;
  }

  * {
    text-decoration: none;
    color: #333333;
  }

  .logo {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 32pt;
    color: #11377f;
  }

  .link {
    margin-left: 16px;
    margin-bottom: 4px;

    &:active, &.active {
      color: #11377f;
    }
  }
}

#Footer {
  color: white;
  padding: 4px;
}

#Home {

  p {
    text-align: center;
  }

  div {
    padding: 16px;
  }

  .Fourier {
    width: 100%;
    padding: 0px;
    padding-bottom: 300px;
  
    canvas {
      max-width: 1024px;
      width: 100%;
    }
  }

  #intro {
    margin-top: calc(-300px - 12vmin);
    background-color: #ffffff7f;
    min-height: 10vh;

    h1 {
      font-size: calc(18px + 4vmin);
    }
    p {
      width: 60vw;
      br {
        height: 32px;
      }
    }
  }

  #proj-courses {
    background-color: #ffffff;
  }
}